In [2]:
import pandas as pd

nba = pd.read_csv("nba.csv")
print(nba)

              Name            Team  Number Position  Age  Height  Weight  \
0    Avery Bradley  Boston Celtics       0       PG   25  06-Feb     180
1      Jae Crowder  Boston Celtics      99       SF   25  06-Jun     235
2     John Holland  Boston Celtics      30       SG   27  06-May     205
3      R.J. Hunter  Boston Celtics      28       SG   22  06-May     185
4    Jonas Jerebko  Boston Celtics       8       PF   29  06-Oct     231
..             ...             ...     ...      ...  ...     ...     ...
452     Trey Lyles       Utah Jazz      41       PF   20  06-Oct     234
453   Shelvin Mack       Utah Jazz       8       PG   26  06-Mar     203
454      Raul Neto       Utah Jazz      25       PG   24  06-Jan     179
455   Tibor Pleiss       Utah Jazz      21        C   26  07-Mar     256
456    Jeff Withey       Utah Jazz      24        C   26     7-0     231

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
452           Kentucky  2239800.0
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0

[457 rows x 9 columns]

In [5]:
nba["Age"].min()

19

In [6]:
nba["Age"].max()

40

In [7]:
nba["Age"].sum()

12311

In [8]:
nba["Age"].mean()

26.938730853391686

In [9]:
nba["Age"].std()

4.4040164244058335

In [10]:
#displays first 8 entries
nba.head(8)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-Oct,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,06-Sep,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,06-Aug,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2165160.0

In [11]:
#displays last 7 entries
nba.tail(7)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
450,Joe Ingles,Utah Jazz,2,SF,28,06-Aug,226,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23,SF,26,06-Jun,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [12]:
#Searches the entries with given name
nba[nba["Name"].isin(["Joe Ingles","Raul Neto"])]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
450,Joe Ingles,Utah Jazz,2,SF,28,06-Aug,226,NaN,2050000.0
454,Raul Neto,Utah Jazz,25,PG,24,06-Jan,179,NaN,900000.0

In [13]:
#sorts values according to name
nba.sort_values("Name", inplace=True)

In [14]:
#displays unique height values
nba["Height"].unique()

array(['6-0', '06-Sep', '06-Jun', '06-Oct', '06-Aug', '07-Jan', '07-Feb',
       '06-Nov', '06-Mar', '06-Jul', '7-0', '06-May', '06-Apr', '06-Feb',
       '07-Mar', '06-Jan', '05-Sep', '05-Nov'], dtype=object)

In [ ]:
#adds a column to the table
nba.insert(3,column="Designation",value="Manager")

In [18]:
print(nba)

                Name                    Team  Number Designation Position  \
152     Aaron Brooks           Chicago Bulls       0     Manager       PG
356     Aaron Gordon           Orlando Magic       0     Manager       PF
328   Aaron Harrison       Charlotte Hornets       9     Manager       SG
404    Adreian Payne  Minnesota Timberwolves      33     Manager       PF
312       Al Horford           Atlanta Hawks      15     Manager        C
..               ...                     ...     ...         ...      ...
386  Wilson Chandler          Denver Nuggets      21     Manager       SF
270   Xavier Munford       Memphis Grizzlies      14     Manager       PG
402      Zach LaVine  Minnesota Timberwolves       8     Manager       PG
271    Zach Randolph       Memphis Grizzlies      50     Manager       PF
237    Zaza Pachulia        Dallas Mavericks      27     Manager        C

     Age  Height  Weight         College      Salary
152   31     6-0     161          Oregon   2250000.0
356   20  06-Sep     220         Arizona   4171680.0
328   21  06-Jun     210        Kentucky    525093.0
404   25  06-Oct     237  Michigan State   1938840.0
312   30  06-Oct     245         Florida  12000000.0
..   ...     ...     ...             ...         ...
386   29  06-Aug     225          DePaul  10449438.0
270   24  06-Mar     180    Rhode Island         NaN
402   21  06-May     189            UCLA   2148360.0
271   34  06-Sep     260  Michigan State   9638555.0
237   32  06-Nov     275             NaN   5200000.0

[457 rows x 10 columns]

In [20]:
#provides all the details of the desinated entry
nba.iloc[1]

Name            Aaron Gordon
Team           Orlando Magic
Number                     0
Designation          Manager
Position                  PF
Age                       20
Height                06-Sep
Weight                   220
College              Arizona
Salary             4171680.0
Name: 356, dtype: object